<!DOCTYPE html>
<head>
    <title>Christophe Blefari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/glyphicon.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/workip.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="workip">
        <div class="title">
            PORTFOLIO
        </div>
        <h1>Christophe Blefari</h1>

        <div class="item" id="wis">
            <div class="subtitle"><span class=".glyphicon .glyphicon-chevron-right"></span><a href="#wis">WIS</a></div>
            <section class="hidden">
                <div class="tags">
                    <ul>
                        <li>design</li>
                        <li>Django</li>
                        <li>sysadmin</li>
                        <li>GIT</li>
                        <li>web</li>
                    </ul>
                </div>
                <div class="description"><p>WIS est une application de partage de photos que j'ai développé en binôme avec
                    <a href="http://twitter.com/_Frky" class="text-link">_Frky</a>. Nous avons developpé cette application avec la volonté de
                    rendre le développement d'une app de galerie pour Django plus simple, pour cela le code est totalement
                    <a href="https://github.com/Frky/wis" class="text-link">open-source</a>. Nous souhaitions développer un site web simple d'accès
                    et simple d'utilisation. Le site est toujours en cours de développement, n'hésitez pas à apporter votre contribution.
                    </p>
                    <div class="link"><a href="http://wis.udtq.fr">http://wis.udtq.fr</a></div>
                </div>
                <div class="stack">
                    <p>— Python/Django — SASS — Javascript — Git – Nginx/gunicorn – CSS3 — HTML5 — Postgres —</p>
                </div>
            </section>
        </div>
        <div class="item" id="culturenglish">
            <div class="subtitle"><span class=".glyphicon .glyphicon-chevron-right"></span><a href="#culturenglish">CulturEnglish</a></div>
            <section class="hidden">
                <div class="tags">
                    <ul>
                        <li>Anglais</li>
                        <li>MVC</li>
                        <li>Responsive</li>
                        <li>CSS3</li>
                    </ul>
                </div>
                <div class="description"><p>CulturEnglish (le nom est assez évocateur) est un site web que j'ai dû développer dans le cadre
                    d'un projet d'anglais de deuxième année à <a href="http://www.telecomnancy.eu" class="text-link">TELECOM Nancy</a>.
                    Ce projet se devait d'être un croisement entre la pédagogie et les moyens informatiques de notre époque. C'est pourquoi
                    j'ai choisi (avec ma partenaire) de développer un site internet apprenant les rudiments de la culture anglais et du commonwealth
                    au travers de quizzes et de leçons.
                    </p>
                    <p>
                        Le grand intérêt de ce projet a été de travailler en PHP Objet pour permettre l'implantation complète d'un modèle MVC et
                        rendre le développement plus aisé.
                    </p>
                    <div class="link"><a href="http://tdlst.fr/english">http://tdlst.fr/english</a></div>
                </div>
                <div class="stack">
                    <p>— PHP – CSS3 — Apache — HTML5 — MySQL —</p>
                </div>
            </section>
        </div>

        <div class="item" id="sporteasy">
            <div class="subtitle"><span class=".glyphicon .glyphicon-chevron-right"></span><a href="#sporteasy">SportEasy</a></div>
            <section class="hidden">
                <div class="tags">
                    <ul>
                        <li>Stage (3mois)</li>
                        <li>Startup</li>
                        <li>front & back (end)</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="description">
                    <p>
                        En fin de deuxième année j'ai réalisé un stage chez SportEasy au cours duquel j'ai énormément appris sur le
                        plan professionnel mais aussi sur le plan humain. En effet, j'ai travaillé dans cette startup avec 3 autres
                        développeurs sur des tâches d'améliorations graphiques de l'interface utilisateur mais aussi sur une fonctionnalité
                        de messagerie demandée par de nombreux utilisateurs.
                    </p>
                    <div class="link"><a href="https://www.sporteasy.net/">https://www.sporteasy.net/</a></div>
                </div>
                <div class="stack">
                    <p>— Python/Django – SASS — CoffeeScript — HTML5 — MySQL — Git — Scrum —</p>
                </div>
            </section>
        </div>

        <div class="item" id="tnservices">
            <div class="subtitle"><span class=".glyphicon .glyphicon-chevron-right"></span><a href="#tnservices">Télécom Nancy Services</a></div>
            <section class="hidden">
                <div class="tags">
                    <ul>
                        <li>Photoshop</li>
                        <li>design</li>
                        <li>Maquettage</li>
                        <li>Carte de visites</li>
                    </ul>
                </div>
                <div class="description">
                    <p>
                        J'ai collaboré pendant deux ans avec la junior-entreprise like de l'école et durant ces deux ans j'ai participé à la
                        refonte graphique de l'association en réalisant entièrement le nouveau logo, et la maquette du nouveau site internet.
                        De plus j'ai aussi participé à l'élaboration des cartes de visites et de la nouvelle plaquette.
                    </p>
                    <div class="link"><a href="http://tnservices.fr/">http://tnservices.fr/</a></div>
                </div>
            </section>
        </div>

        <div class="item" id="blef">
            <div class="subtitle"><span class=".glyphicon .glyphicon-chevron-right"></span><a href="#blef">blef.fr</a></div>
            <section class="hidden">
                <div class="tags">
                    <ul>
                        <li>Perso</li>
                        <li>design</li>
                        <li>Fierté</li>
                    </ul>
                </div>
                <div class="description">
                    <p>
                        Cela fait maintenant plus de trois ans que j'administre mon propre site internet. Bien que peu fourni il a subit
                        de nombreuses évolutions. Au départ sur un hébergément mutualisé chez 1&1, il est maintenant hébergé sur mon serveur
                        personnel. Je souhaite en faire une vitrine de ce que je sais faire, il est amené à évoluer au cours des prochains mois.
                    </p>
                    <div class="link"><a href="http://blef.fr/">http://blef.fr/</a></div>
                </div>
            </section>
        </div>

        <div class="item" id="java">
            <div class="subtitle"><span class=".glyphicon .glyphicon-chevron-right"></span><a href="#java">Projet Java</a></div>
            <section class="hidden">
                <div class="tags">
                    <ul>
                        <li>Java</li>
                        <li>Bootstrap</li>
                        <li>MVC</li>
                    </ul>
                </div>
                <div class="description">
                    <p>
                        En 2A de TELECOM Nancy nous avions eu un projet nous demandant de développer une application Java (client lourd) avec un
                        site web (PHP) et son API permettant au client lourd de se connecter à la base de données. Cette application Java était le
                        concentré de 3 jeux — calcul, géographie, mots. Sur ce projet je me suis occupé de toute la partie serveur et API ; mais aussi
                        de la structure MVC des jeux, et du développement de l'IHM pour les jeux de calcul et de mots.
                    </p>
                </div>
                <div class="stack">
                    <p>— Java — MySQL — PHP — Bootstrap — Swing —</p>
                </div>
            </section>
        </div>

    </div>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>