<div class="bike">
    <div class="tubes">
        <div class="back-chain"></div>
        <div class="back-high"></div>
        <div class="seat-tube"></div>
        <div class="front-chain"></div>
        <div class="front-high"></div>
        <div class="fork"></div>
        <div class="seat"></div>
        <div class="handlebar">
            <div class="right-part"></div>
            <div class="curve-part"></div>
            <div class="hide-curve"></div>
        </div>
    </div>
    <div class="back tire">
        <div class="wheel">
            <div class="axe"></div>
            <ul class="radius">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="front tire">
        <div class="wheel">
            <div class="axe"></div>
            <ul class="radius">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>