{% extends "base.html" %}

{% block title %}Christophe Blefari - Contact{% endblock %}
{% block header_title %}{{ header_title }}{% endblock %}
{% block nav_header %}
    <div class="single_page nav4"></div>
{% endblock %}

{% block content %}
    <article>
        <p>Feel free to contact me for any reason</p>
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Contact me !">
        </form>
    </article>
{% endblock %}