{% extends "base.html" %}

{% block title %}Christophe Blefari{% endblock %}
{% block header_title %}{{ header_title }}{% endblock %}

{% block content %}
<article>
    <h2>hi there</h2>
    <ul>
        <li>i'm a young french dedicated <em>developer</em> with a fondness for bikes and hairs</li>
        <li>if you want to take a look to my background and experience go to my portfolio</li>
        <li>if you have a wonderful <em>6-months internship</em> for me I will be happy if you contact me</li>
        <li>i love <em>UX</em>, tea, mac, tattoos</li>
        <li>sometimes I do some good <em>jokes</em></li>
    </ul>
    <div class="bike">
    <div class="tubes">
        <div class="back-chain"></div>
        <div class="back-high"></div>
        <div class="seat-tube"></div>
        <div class="front-chain"></div>
        <div class="front-high"></div>
        <div class="fork"></div>
        <div class="seat"></div>
        <div class="handlebar">
            <div class="right-part"></div>
            <div class="curve-part"></div>
            <div class="hide-curve"></div>
        </div>
    </div>
    <div class="back tire">
        <div class="wheel">
            <div class="axe"></div>
            <ul class="radius">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="front tire">
        <div class="wheel">
            <div class="axe"></div>
            <ul class="radius">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
    <p class="author">
        Christophe Blefari
    </p>
</article>
{% endblock %}