{% extends "base.html" %}

{% block title %}Christophe Blefari{% endblock %}
{% block header_title %}{{ header_title }}{% endblock %}

{% block content %}
<article>
    <h2>hi there</h2>
    <ul>
        <li>I'm a young french dedicated <em>developer</em> with a fondness for bikes and hairs.</li>
        <li>If you want to take a look to my background and experience go to my portfolio.</li>
        <li>If you have a wonderful <em>6-months internship</em> for me I will be happy if you contact me.</li>
        <li>I love <em>UX</em>, tea, mac, tattoos.</li>
        <li>Sometimes I do some good <em>jokes.</em></li>
    </ul>
    {% include "front/bike.html" %}
    <p class="author">
        Christophe Blefari
    </p>
</article>
{% endblock %}