{% extends "base.html" %}

{% block nav_header %}
    <div class="single_page nav1"></div>
{% endblock %}

{% block title %}Christophe Blefari - Me{% endblock %}
{% block header_title %}{{ header_title }}{% endblock %}

{% block content %}
    <article>
        <img src="{{ STATIC_URL }}images/blef3.png" class="blef-bubble">

        <h2>Christophe Blefari</h2>
        <ul>
            <li>21 years</li>
            <li>Come from Aix-en-Provence, study at Nancy.</li>
            <li>French developer almost graduated from <em>TELECOM Nancy</em> an IT school.</li>
            <li>My credit card number contains a golden ratio.</li>
            <li>Everything you need to know about me is free.</li>
            <li>The Black Keys, Dire Straits, Lana Del Rey, Foo Fighters, Alphabeat</li>
            <li>Cœur de Pirate, Revolver, Saez, Calogero, Phoenix</li>
        </ul>
        <p>
            You can find me on social networks. <em>Feel free</em> to link me. Or maybe you can try to find me on ASOS or in a
            watch store. My english is perfectible I know and <em>I'm looking for a 6-months internship</em>. Sometimes I work
            with <a href="http://www.udtq.fr">_Frky</a> and it's cool, otherwise <a href="">TZ</a> is a good partner.
        </p>
    </article>
{% endblock %}