<!DOCTYPE html>
<head>
    <title>Christophe Blefari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/glyphicon.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/workip.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="workip">
        <h1>Christophe Blefari</h1>
        <p>Le site est en reconstruction complète, vous pouvez me contacter via les réseaux sociaux ou par
            <a class="text-link" href="mailto:christophe.blefari@gmail.com">mail</a>.</p>
        <p>Je suis à la recherche d'un <em>stage</em> de fin d'études (<a class="text-link" href="{% url "portfolio" %}">portfolio</a>) de 6 mois à partir d'Avril 2014.</p>
        <p>De plus vous pouvez télécharger mon <a class="text-link" href="{{ STATIC_URL }}files/cv_christophe_blefari.pdf">CV</a>
            ou tester <a class="text-link" href="http://wis.udtq.fr">WIS</a> que j'ai réalisé avec
            <a class="text-link" href="http://twitter.com/_Frky">_Frky</a>.</p>

        <footer>
            <ul>
                <li><a href="http://facebook.com/malongo"><i class="icon icon-facebook"></i></a></li>
                <li><a href="https://github.com/Bl3f"><i class="icon icon-github"></i></a></li>
                <li><a href="http://lnkd.in/WeKPYx"><i class="icon icon-linkedin"></i></a></li>
                <li><a href="skype:blef-harry"><i class="icon icon-skype"></i></a></li>
                <li><a href="http://twitter.com/_Blef"><i class="icon icon-twitter"></i></a></li>
            </ul>
        </footer>
    </div>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>