@-webkit-keyframes WheelRotation {
  /* line 4, ../scss/bike.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 7, ../scss/bike.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 12, ../scss/bike.scss */
.bike {
  width: 410px;
  height: 200px;
  text-align: left;
  margin: 70px auto 0 auto;
}
/* line 27, ../scss/bike.scss */
.bike .back {
  margin-right: 100px;
}
/* line 31, ../scss/bike.scss */
.bike .tire {
  display: inline-block;
  width: 140px;
  height: 140px;
  border: 6px solid #353535;
  border-radius: 50%;
  -webkit-animation-name: WheelRotation;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
}
/* line 44, ../scss/bike.scss */
.bike .wheel {
  z-index: 256;
  width: 118px;
  height: 118px;
  border: 11px solid #ebcab8;
  border-radius: 50%;
}
/* line 52, ../scss/bike.scss */
.bike .axe {
  position: relative;
  z-index: 64;
  width: 9px;
  height: 9px;
  border: 8px solid #353535;
  border-radius: 50%;
  background: #EBCAB8;
  margin-top: 45.5px;
  margin-left: 45.5px;
}
/* line 65, ../scss/bike.scss */
.bike .radius li {
  z-index: 128;
  position: absolute;
  list-style: none;
  width: 1px;
  height: 60px;
  background: #353535;
  margin-top: -28px;
  margin-left: 18px;
  -webkit-transform-origin: 0% 0%;
}
/* line 78, ../scss/bike.scss */
.bike .tubes {
  height: 100px;
}
/* line 96, ../scss/bike.scss */
.bike .tubes .back-chain {
  z-index: 1024;
  position: absolute;
  width: 100px;
  height: 5px;
  background: #006c80;
  margin-top: 172.5px;
  margin-left: 72.5px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(10deg);
  border-radius: 15%;
}
/* line 99, ../scss/bike.scss */
.bike .tubes .back-high {
  z-index: 1024;
  position: absolute;
  width: 119px;
  height: 5px;
  background: #006c80;
  margin-top: 172.5px;
  margin-left: 72.5px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(-55deg);
  border-radius: 15%;
}
/* line 102, ../scss/bike.scss */
.bike .tubes .seat-tube {
  z-index: 1024;
  position: absolute;
  width: 160px;
  height: 5px;
  background: #006c80;
  margin-top: 195px;
  margin-left: 167px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(257.5deg);
  border-radius: 15%;
  height: 6px;
}
/* line 106, ../scss/bike.scss */
.bike .tubes .front-chain {
  z-index: 1024;
  position: absolute;
  width: 180px;
  height: 5px;
  background: #006c80;
  margin-top: 191px;
  margin-left: 167px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(-39deg);
  border-radius: 15%;
  height: 6px;
}
/* line 110, ../scss/bike.scss */
.bike .tubes .front-high {
  z-index: 1024;
  position: absolute;
  width: 170px;
  height: 5px;
  background: #006c80;
  margin-top: 76px;
  margin-left: 140px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(-4deg);
  border-radius: 15%;
  height: 6px;
}
/* line 114, ../scss/bike.scss */
.bike .tubes .fork {
  z-index: 1024;
  position: absolute;
  width: 135px;
  height: 5px;
  background: #006c80;
  margin-top: 178px;
  margin-left: 329px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(257.5deg);
  border-radius: 15%;
  height: 6px;
}
/* line 120, ../scss/bike.scss */
.bike .seat {
  z-index: 2048;
  position: absolute;
  width: 40px;
  height: 14px;
  background: #353535;
  border: 1px solid #353535;
  border-radius: 35%;
  margin-top: 38px;
  margin-left: 121px;
}
/* line 133, ../scss/bike.scss */
.bike .handlebar .right-part {
  z-index: 2048;
  position: absolute;
  width: 30px;
  height: 8px;
  background: #353535;
  margin-top: 44px;
  margin-left: 296px;
}
/* line 142, ../scss/bike.scss */
.bike .handlebar .curve-part {
  z-index: 512;
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  margin-top: 44px;
  margin-left: 306px;
  border: 8px solid #353535;
  border-radius: 50%;
}
/* line 153, ../scss/bike.scss */
.bike .handlebar .hide-curve {
  z-index: 640;
  position: absolute;
  background: white;
  border: 0px solid black;
  width: 45px;
  height: 40px;
  margin-top: 44px;
  margin-left: 279px;
  -webkit-transform: rotate(-10deg);
}
/* line 166, ../scss/bike.scss */
.bike li:nth-child(2) {
  -webkit-transform: rotate(30deg);
}
/* line 169, ../scss/bike.scss */
.bike li:nth-child(3) {
  -webkit-transform: rotate(60deg);
}
/* line 172, ../scss/bike.scss */
.bike li:nth-child(4) {
  -webkit-transform: rotate(90deg);
}
/* line 175, ../scss/bike.scss */
.bike li:nth-child(5) {
  -webkit-transform: rotate(120deg);
}
/* line 178, ../scss/bike.scss */
.bike li:nth-child(6) {
  -webkit-transform: rotate(150deg);
}
/* line 181, ../scss/bike.scss */
.bike li:nth-child(7) {
  -webkit-transform: rotate(180deg);
}
/* line 184, ../scss/bike.scss */
.bike li:nth-child(8) {
  -webkit-transform: rotate(210deg);
}
/* line 187, ../scss/bike.scss */
.bike li:nth-child(9) {
  -webkit-transform: rotate(240deg);
}
/* line 190, ../scss/bike.scss */
.bike li:nth-child(10) {
  -webkit-transform: rotate(270deg);
}
/* line 193, ../scss/bike.scss */
.bike li:nth-child(11) {
  -webkit-transform: rotate(300deg);
}
/* line 196, ../scss/bike.scss */
.bike li:nth-child(12) {
  -webkit-transform: rotate(330deg);
}
