/* line 3, ../scss/main.scss */
.single_page.nav1, .homepage.nav1 {
  background: #006c80;
}

/* line 4, ../scss/main.scss */
.single_page.nav2, .homepage.nav2 {
  background: #ebcab8;
}

/* line 5, ../scss/main.scss */
.single_page.nav3, .homepage.nav3 {
  background: #fe8315;
}

/* line 6, ../scss/main.scss */
.single_page.nav4, .homepage.nav4 {
  background: #fa3113;
}

@font-face {
  font-family: "coolvetica";
  src: url("../fonts/coolvetica.ttf");
}

@font-face {
  font-family: "KyrillaSansSerif";
  src: url("../fonts/KyrillaSansSerif.ttf");
}

/* line 18, ../scss/main.scss */
body, html {
  margin: 0;
}

/* line 22, ../scss/main.scss */
header {
  color: #000;
}
/* line 24, ../scss/main.scss */
header h1 {
  display: inline-block;
  font-family: "coolvetica", "Arial";
  font-size: 6em;
  font-weight: 100;
  width: 19%;
  margin: 0;
  text-align: left;
}

/* line 35, ../scss/main.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 40, ../scss/main.scss */
section {
  display: block;
  text-align: center;
  width: 60%;
  min-width: 500px;
  max-width: 850px;
  margin: 0px auto 0px auto;
  padding: 1px 0 10px 0;
  min-height: 320px;
  background: white;
}

/* line 52, ../scss/main.scss */
nav {
  display: block;
  width: 60%;
  min-width: 500px;
  max-width: 850px;
  margin: 0px auto 0px auto;
  padding: 0;
  background: white;
}
/* line 61, ../scss/main.scss */
nav a {
  color: inherit;
}
/* line 65, ../scss/main.scss */
nav ul {
  display: inline-block;
  width: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 73, ../scss/main.scss */
nav ul a {
  display: inline-block;
}
/* line 75, ../scss/main.scss */
nav ul a li {
  font-family: "coolvetica", "Arial";
  font-size: 2em;
  text-transform: uppercase;
  text-align: right;
  height: 30px;
  margin: 0px;
}
/* line 86, ../scss/main.scss */
nav ul a:hover > .nav1 {
  color: #006c80;
}
/* line 89, ../scss/main.scss */
nav ul a:hover > .nav2 {
  color: #ebcab8;
}
/* line 92, ../scss/main.scss */
nav ul a:hover > .nav3 {
  color: #fe8315;
}
/* line 95, ../scss/main.scss */
nav ul a:hover > .nav4 {
  color: #fa3113;
}

/* line 102, ../scss/main.scss */
footer {
  position: fixed;
  width: 100px;
  height: 200px;
  left: 150px;
  top: 210px;
}
/* line 108, ../scss/main.scss */
footer li {
  text-align: center;
  list-style: none;
}
/* line 111, ../scss/main.scss */
footer li a {
  display: inline-block;
  width: 50px;
  height: 50px;
}
/* line 115, ../scss/main.scss */
footer li a img {
  opacity: 0.2;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/* line 128, ../scss/main.scss */
footer li a img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

/* line 141, ../scss/main.scss */
.single_page {
  display: block;
  height: 10px;
  top: 0;
  width: 60%;
  min-width: 500px;
  max-width: 850px;
  margin: 0px auto 0px auto;
  position: absolute;
}

/* line 152, ../scss/main.scss */
.homepage {
  display: inline-block;
  width: 25%;
  height: 20px;
  margin: 0px -4px 0 0;
  top: -10px;
  position: relative;
  transition: top 0.5s ease 0s;
}

/* line 163, ../scss/main.scss */
.home img {
  text-align: left;
}

/* line 168, ../scss/main.scss */
article {
  min-width: 500px;
  max-width: 850px;
  margin: 0px auto 0px auto;
  font-family: "coolvetica", "Arial";
  text-align: left;
  color: #006c80;
}
/* line 176, ../scss/main.scss */
article .blef-bubble {
  width: 150px;
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
/* line 184, ../scss/main.scss */
article > ul, article p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  font-size: 1.2em;
  list-style: none;
  padding: 0;
  text-align: justify;
}
/* line 194, ../scss/main.scss */
article em {
  color: #fe8315;
}
/* line 197, ../scss/main.scss */
article .author {
  text-align: right;
  padding-right: 10px;
}
/* line 201, ../scss/main.scss */
article h2 {
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 1.8em;
}
/* line 207, ../scss/main.scss */
article#portfolio hr {
  border-style: initial;
  border-bottom: 1px solid #ebcab8;
  margin: 30px 50px 30px 50px;
}
/* line 212, ../scss/main.scss */
article#portfolio section {
  width: 100%;
}
/* line 214, ../scss/main.scss */
article#portfolio section div.overview {
  min-height: 250px;
}
/* line 216, ../scss/main.scss */
article#portfolio section div.overview img {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
/* line 221, ../scss/main.scss */
article#portfolio section div.overview .description {
  text-align: justify;
  display: inline-block;
  width: 46%;
  padding: 0px 20px;
}
/* line 226, ../scss/main.scss */
article#portfolio section div.overview .description h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;
}
/* line 231, ../scss/main.scss */
article#portfolio section div.overview .description p {
  margin: 0px;
  font-size: 0.9em;
}
