@import "color";

.single_page.nav1, .homepage.nav1 {background: $home-color;}
.single_page.nav2, .homepage.nav2 {background: $portfolio-color;}
.single_page.nav3, .homepage.nav3 {background: $resume-color;}
.single_page.nav4, .homepage.nav4 {background: $contact-color;}

@font-face {
    font-family: "coolvetica";
    src: url('../fonts/coolvetica.ttf');
}

@font-face {
    font-family: "KyrillaSansSerif";
    src: url('../fonts/KyrillaSansSerif.ttf');
}

body, html {
    margin: 0;
}

header {
    color: #000;
    h1 {
        display: inline-block;
        font-family: "coolvetica", "Arial";
        font-size: 6em;
        font-weight: 100;
        width: 19%;
        margin: 0;
        text-align: left;
    }
}

a {
    color: black;
    text-decoration: none;
}

section {
    display: block;
    text-align: center;
    width: 60%;
    min-width: 500px;
    max-width: 850px;
    margin: 0px auto 0px auto;
    padding: 1px 0 10px 0;
    min-height: 320px;
    background: $background-color;
}

nav {
    display: block;
    width: 60%;
    min-width: 500px;
    max-width: 850px;
    margin: 0px auto 0px auto;
    padding: 0;
    background: $background-color;

    a {
        color: inherit;
    }

    ul {
        display: inline-block;
        width: 80%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        a {
            display: inline-block;
            li {
                font-family: "coolvetica", "Arial";
                font-size: 2em;
                text-transform: uppercase;
                text-align: right;
                height: 30px;
                margin: 0px;
            }
        }

        a:hover {
            &> .nav1 {
                color: $home-color;
            }
            &> .nav2 {
                color: $portfolio-color;
            }
            &> .nav3 {
                color: $resume-color;
            }
            &> .nav4 {
                color: $contact-color;
            }
        }
    }
}

footer {
    position: fixed;
    width: 100px;
    height: 200px;
    left: 150px;
    top: 210px;
    li {
        text-align: center;
        list-style: none;
        a {
            display: inline-block;
            width: 50px;
            height: 50px;
            img {
                opacity: 0.2;
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(1);
                -ms-filter: grayscale(1);
                -o-filter: grayscale(1);
                filter: grayscale(1);
                -webkit-transition: opacity 1s ease;
                -moz-transition: opacity 1s ease;
                -ms-transition: opacity 1s ease;
                -o-transition: opacity 1s ease;
                transition: opacity 1s ease;

                &:hover {
                    opacity: 1;
                    -webkit-filter: grayscale(0);
                    -moz-filter: grayscale(0);
                    -ms-filter: grayscale(0);
                    -o-filter: grayscale(0);
                    filter: grayscale(0);
                }
            }
        }
    }
}

.single_page {
    display: block;
    height: 10px;
    top: 0;
    width: 60%;
    min-width: 500px;
    max-width: 850px;
    margin: 0px auto 0px auto;
    position: absolute;
}

.homepage {
    display: inline-block;
    width: 25%;
    height: 20px;
    margin: 0px -4px 0 0;
    top: -10px;
    position: relative;
    transition: top 0.5s ease 0s;
}

.home {
    img {
        text-align: left;
    }
}

article {
    min-width: 500px;
    max-width: 850px;
    margin: 0px auto 0px auto;
    font-family: "coolvetica", "Arial";
    text-align: left;
    color: $home-color;

    .blef-bubble {
        width: 150px;
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    &>ul, p {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0px;
        font-size: 1.2em;
        list-style: none;
        padding: 0;
        text-align: justify;
    }

    em {
        color: $resume-color;
    }
    .author {
        text-align: right;
        padding-right: 10px;
    }
    h2 {
        margin-left: 50px;
        margin-bottom: 0px;
        font-size: 1.8em;
    }
    &#portfolio {
        hr {
            border-style: initial;
            border-bottom: 1px solid $portfolio-color;
            margin: 30px 50px 30px 50px;
        }
        section {
            width: 100%;
            div.overview {
                min-height: 250px;
                img {
                    display: inline-block;
                    width: 400px;
                    vertical-align: top;
                }
                .description {
                    text-align: justify;
                    display: inline-block;
                    width: 46%;
                    padding: 0px 20px;
                    h3 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 1.5em;
                    }
                    p {
                        margin: 0px;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    form {
        margin-top: 30px;
        label {
            width: 30%;
            display: inline-block;
            text-align: right;
            vertical-align: middle;
            float: left;
        }
        input[type="text"], textarea {
            width: 60%;
            height: 20px;
            margin-left: 30px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: $background-color;
            background-image: none;
            border: 1px solid #ccc;
        }
        textarea {
            width: 60%;
            height: 60px;
            resize: vertical;
        }
        input[type="submit"] {
            background-color: $contact-color;
            border-color: $contact-color;
            float: right;
            color: $background-color;
            text-transform: uppercase;
            font-family: "coolvetica";
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;

            &:active {
                color: #000000;
                margin-top: 5px;
            }
        }
        input:focus, textarea:focus {
            outline:  none;
            border: 1px solid $contact-color;
            -webkit-transition: border 0.7s ease;
               -moz-transition: border 0.7s ease;
                -ms-transition: border 0.7s ease;
                 -o-transition: border 0.7s ease;
                    transition: border 0.7s ease;
        }
        .errors {
            color: #000000;
            background: red;
            margin: 0px 0px 50px 0px;
            padding: 10px 10px 10px 30px;
        }
        ul.errorlist {
            list-style: none;
            text-align: center;
            font-size: 0.8em;
        }
        ul.errorlist + p input, ul.errorlist + p textarea {
            border: 1px solid black;
            &:focus {
                border: 1px solid $contact-color;
                -webkit-transition: border 0.7s ease;
                   -moz-transition: border 0.7s ease;
                    -ms-transition: border 0.7s ease;
                     -o-transition: border 0.7s ease;
                        transition: border 0.7s ease;
            }
        }
    }
}