@font-face{
    font-family: "coolvetica";
    src: url('../fonts/coolvetica.ttf');
}

@font-face{
    font-family: "KyrillaSansSerif";
    src: url('../fonts/KyrillaSansSerif.ttf');
}

.nav1{
    background-image:-webkit-linear-gradient(#006C80,#006C80);
    background-image:	-moz-linear-gradient(#006C80,#006C80);
    background-image:	  -o-linear-gradient(#006C80,#006C80);
    background-image:		 linear-gradient(#006C80,#006C80);
}

.nav2{
    background-image:-webkit-linear-gradient(#EBCAB8,#EBCAB8);
    background-image:	-moz-linear-gradient(#EBCAB8,#EBCAB8);
    background-image:	  -o-linear-gradient(#EBCAB8,#EBCAB8);
    background-image:		 linear-gradient(#EBCAB8,#EBCAB8);
}

.nav3{
    background-image:-webkit-linear-gradient(#FE8315,#FE8315);
    background-image:	-moz-linear-gradient(#FE8315,#FE8315);
    background-image:	  -o-linear-gradient(#FE8315,#FE8315);
    background-image:		 linear-gradient(#FE8315,#FE8315);
}

.nav4{
    background-image:-webkit-linear-gradient(#FA3113,#FA3113);
    background-image:	-moz-linear-gradient(#FA3113,#FA3113);
    background-image:	  -o-linear-gradient(#FA3113,#FA3113);
    background-image:		 linear-gradient(#FA3113,#FA3113);
}

header > h1{
    display: block;
    font-family: "coolvetica","Arial";
    font-size: 6em;
    font-weight: 100;
    width: 200px;
    margin: 0 20% 0 20%;
}

a{
    color:black;
    text-decoration: none;
}

nav{
    display: block;
    width: 60%;
    min-width: 500px;
    max-width: 850px;
    margin: 0px auto 0px auto;
    padding: 0;
}

nav > ul{
    list-style: none;
    margin:  0;
    padding: 0;
}

nav > ul > a > li{
    font-family: "coolvetica","Arial";
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: right;
    vertical-align: text-bottom;
    color: #FFF;
    height: 80px;
    margin: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    transition: background-position 1.4s cubic-bezier(0.320, 1.650, 0.470, -0.385), color .6s cubic-bezier(0.320, 1.650, 0.470, -0.385) 0.2s;
    -webkit-transition: background-position 1.4s cubic-bezier(0.320, 1.650, 0.470, -0.385), color .6s cubic-bezier(0.320, 1.650, 0.470, -0.385) 0.2s;
    -moz-transition: background-position 1.4s cubic-bezier(0.320, 1.650, 0.470, -0.385), color .6s cubic-bezier(0.320, 1.650, 0.470, -0.385) 0.6s;
    -o-transition: background-position 1.4s cubic-bezier(0.320, 1.650, 0.470, -0.385), color .6s cubic-bezier(0.320, 1.650, 0.470, -0.385) 0.6s;
}

nav > ul > a:hover > li, nav > ul > a:focus > li{
    background-repeat: no-repeat;
    background-position: 850px 0px;
}

nav > ul > a:hover > .nav1{color : #006C80;}
nav > ul > a:hover > .nav2{color : #EBCAB8;}
nav > ul > a:hover > .nav3{color : #FE8315;}
nav > ul > a:hover > .nav4{color : #FA3113;}

nav a{
    color: inherit;
}

a{
    color:black;
    text-decoration: none;

}